<div  th:fragment="chart(chartType, team1Data, team2Data)"
      class="chart-container d-flex flex-column justify-content-center align-items-center"
      th:with="gameId=${matchInfo.getMatch().getGameId()},
               chartType=${chartType},
               team1Data=${team1Data},
               team2Data=${team2Data},
               formattedData1=${#numbers.formatDecimal(team1Data, 0, 'COMMA', 0, 'POINT')},
               formattedData2=${#numbers.formatDecimal(team2Data, 0, 'COMMA', 0, 'POINT')}
              "
      th:attr="data-match-id=${gameId},
               data-chart-type=${chartType},
               data-team1=${team1Data},
               data-team2=${team2Data}"
>
    <div th:replace="~{partials/index/chart-container.html :: chart-info(${chartType}, ${gameId})}"></div>
    <div th:replace="~{partials/index/chart-container.html :: chart-text(${chartType}, ${formattedData1}, ${formattedData2})}"></div>
</div>

<div th:fragment="chart-info(chartType, gameId)"
     th:id="${chartType} + 'Chart-' + ${gameId}"
     class="chart w-100"
     style="height: 75px; aspect-ratio: 1"
></div>

<div th:fragment="chart-text(chartType, team1Value, team2Value)">
    <p th:text="${chartType}"
       class="text-light text-center fw-semibold mb-0"
    ></p>
    <p>
        <span th:text="${team2Value}"
              class="color-primary-red fs-200"
        ></span>
        <span th:text="${team1Value}"
              class="color-primary-blue fs-200"
        ></span>
    </p>
</div>