<aside th:fragment="aside"
       class="col-auto"
>
  <p class="color-primary-main fs-500">Friends</p>
  <hr class="color-primary-main">
  <div th:each="friend : ${friends}"
       class="mb-1 w-100"
  >
    <button th:id="${'friendBtn-' + friend.getId()}"
            class="friend-btns d-flex justify-content-start align-items-center border-0 p-2 w-100"
            th:classappend="${friend.isSelected() ? 'selected' : 'bg-transparent'}"
    >
      <img th:replace="~{partials/icons/friend-icon.html :: image}">
      <div>
        <p th:text="${friend.getName()}" class="to-lower bold color-neutral-light mb-0 non-selectable"></p>
        <p th:text="${friend.getSummonerLevel()}" class="color-primary-main mb-0 fs-200 text-start non-selectable"></p>
      </div>
    </button>
  </div>
</aside>