<div th:fragment="items(title)"
     class="d-flex justify-content-between mt-1 gap-0 column-gap-1"
>
  <th:block th:if="${participant.getItem0() == 0}">
    <div class="eventItem-icon non-selectable opacity-75 bg-dark border border-1 border-secondary"></div>
  </th:block>
  <th:block th:unless="${participant.getItem0() == 0}">
    <img th:src="@{${'/dragon_tail/13.14.1/img/eventItem/' + participant.getItem0() + '.png'}}"
         alt="player icon" class="eventItem-icon non-selectable opacity-75 border border-1 border-secondary"
    >
  </th:block>

  <th:block th:if="${participant.getItem1() == 0}">
    <div class="eventItem-icon non-selectable opacity-75 bg-dark border border-1 border-secondary"></div>
  </th:block>
  <th:block th:unless="${participant.getItem1() == 0}">
    <img th:src="@{${'/dragon_tail/13.14.1/img/eventItem/' + participant.getItem1() + '.png'}}"
         alt="player icon" class="eventItem-icon non-selectable opacity-75 border border-1 border-secondary"
    >
  </th:block>

  <th:block th:if="${participant.getItem2() == 0}">
    <div class="eventItem-icon non-selectable opacity-75 bg-dark border border-1 border-secondary"></div>
  </th:block>
  <th:block th:unless="${participant.getItem2() == 0}">
    <img th:src="@{${'/dragon_tail/13.14.1/img/eventItem/' + participant.getItem2() + '.png'}}"
         alt="player icon" class="eventItem-icon non-selectable opacity-75 border border-1 border-secondary"
    >
  </th:block>

  <th:block th:if="${participant.getItem3() == 0}">
    <div class="eventItem-icon non-selectable opacity-75 bg-dark border border-1 border-secondary"></div>
  </th:block>
  <th:block th:unless="${participant.getItem3() == 0}">
    <img th:src="@{${'/dragon_tail/13.14.1/img/eventItem/' + participant.getItem3() + '.png'}}"
         alt="player icon" class="eventItem-icon non-selectable opacity-75 border border-1 border-secondary"
    >
  </th:block>

  <th:block th:if="${participant.getItem4() == 0}">
    <div class="eventItem-icon non-selectable opacity-75 bg-dark border border-1 border-secondary"></div>
  </th:block>
  <th:block th:unless="${participant.getItem4() == 0}">
    <img th:src="@{${'/dragon_tail/13.14.1/img/eventItem/' + participant.getItem4() + '.png'}}"
         alt="player icon" class="eventItem-icon non-selectable opacity-75 border border-1 border-secondary"
    >
  </th:block>

  <th:block th:if="${participant.getItem5() == 0}">
    <div class="eventItem-icon non-selectable opacity-75 bg-dark border border-1 border-secondary"></div>
  </th:block>
  <th:block th:unless="${participant.getItem5() == 0}">
    <img th:src="@{${'/dragon_tail/13.14.1/img/eventItem/' + participant.getItem5() + '.png'}}"
         alt="player icon" class="eventItem-icon non-selectable opacity-75 border border-1 border-secondary"
    >
  </th:block>

  <th:block th:if="${participant.getItem6() == 0}">
    <div class="eventItem-icon non-selectable opacity-75 bg-dark border border-1 border-secondary"></div>
  </th:block>
  <th:block th:unless="${participant.getItem6() == 0}">
    <img th:src="@{${'/dragon_tail/13.14.1/img/eventItem/' + participant.getItem6() + '.png'}}"
         alt="player icon" class="eventItem-icon non-selectable opacity-75 border border-1 border-secondary"
    >
  </th:block>
</div>

