<div  th:fragment="button"
         class="d-flex justify-content-between align-items-center"
         th:with="gameId=${matchInfo.getMatch().getGameId()}"
>
  <div th:replace="~{partials/index/match-button.html :: match-basicInfo(${true})}"></div>
  <div th:replace="~{partials/index/match-champions.html :: match-champions}"></div>
  <a class="btn match-btn d-flex align-items-center gap-2"
     th:href="@{${'/match?match=' + matchInfo.getMatch().getId()}}"
  >
    <span  th:text="${'View'}" class="color-neutral-medDark"></span>
    <img th:src="@{/img/ui/view2.png}" class="non-selectable ui-icon">
  </a>
</div>

<div th:fragment="match-basicInfo(isIndex)"
      th:with="gameMode=${matchInfo.getMatch().getGameMode()}"
>
  <th:block th:if="${matchInfo.isFriendWin()}">
    <th:block th:if="${gameMode == 'CLASSIC'}">
      <img th:src="@{/img/maps/rift/social-icon-victory2.png}" class="non-selectable">
    </th:block>

    <th:block th:if="${gameMode == 'ARAM'}">
      <img th:src="@{/img/maps/aram/social-icon-victory2.png}" class="non-selectable">
    </th:block>

    <th:block th:if="${gameMode != 'CLASSIC' && gameMode != 'ARAM'}">
      <img th:src="@{/img/maps/other/social-icon-victory.png}" class="non-selectable">
    </th:block>
  </th:block>

  <th:block th:unless="${matchInfo.isFriendWin()}">
    <th:block th:if="${gameMode == 'CLASSIC'}">
      <img th:src="@{/img/maps/rift/social-icon-loss2.png}" class="non-selectable">
    </th:block>

    <th:block th:if="${gameMode == 'ARAM'}">
      <img th:src="@{/img/maps/aram/social-icon-loss2.png}" class="non-selectable">
    </th:block>

    <th:block th:if="${gameMode != 'CLASSIC' && gameMode != 'ARAM'}">
      <img th:src="@{/img/maps/other/social-icon-loss.png}" class="non-selectable">
    </th:block>
  </th:block>

  <p th:if="${isIndex}"
     th:with="gameDate=${(matchInfo.getMatch().getGameCreation())},
              formattedDate=${#temporals.format(T(java.time.Instant).ofEpochMilli(gameDate), 'MMM-dd')}"
     class="color-neutral-light fs-400 my-0 non-selectable"
  >
    <span th:text="${formattedDate}"></span>
  </p>
</div>