<div th:fragment="match-buttons(gameMode)"
      th:with="matchIsSaved=${matchInfo.getMatch().isSaved()},
               matchType=${matchInfo.getMatch().getGameMode()},
               isGameMode=${matchType == gameMode}
"
>
  <th:block th:if="${matchIsSaved && (isGameMode || gameMode == 'ALL')}">
    <button th:replace="~{partials/index/match.html :: saved-match}"></button>
  </th:block>

  <th:block th:if="${!matchIsSaved && (gameMode == 'NEW' || gameMode == 'ALL')}">
    <button th:replace="~{partials/index/match.html :: new-match}"></button>
  </th:block>
</div>

<div th:fragment="saved-match"
     th:with="gameId=${matchInfo.getMatch().getGameId()},
              friendWon=${matchInfo.isFriendWin()}"
     th:id="${'accordion' + gameId}"
     class="accordion mb-3"
>
  <div class="accordion-eventItem rounded"
       th:classappend="${friendWon ? 'card-bg-win' : 'card-bg-loss'}"
  >
    <button th:replace="~{partials/index/match.html :: accordion-button}"></button>
    <div th:replace="~{partials/index/match.html :: accordion-body}"></div>
  </div>
</div>

<button th:fragment="new-match"
        th:with="gameId=${matchInfo.getMatch().getGameId()},
                 friends=${matchInfo.getFriends()}"
        th:id="${'accordion' + gameId}"
        class="card card-bg w-100 mb-3 ps-3 match border-0"
>
  <div class="card-body border-0 d-flex justify-content-between align-items-center">
    <div>
      <p class="color-neutral-light fs-400 my-0 non-selectable">Click to load match</p>
    </div>

    <div>
      <th:block th:each="friend : ${friends}">
        <img th:replace="~{partials/icons/friend-icon.html :: image}">
      </th:block>
    </div>
  </div>
</button>

<button  th:fragment="accordion-button"
         class="accordion-button d-flex justify-content-between collapsed" type="button" data-bs-toggle="collapse" aria-expanded="false"
         th:with="gameId=${matchInfo.getMatch().getGameId()}"
         th:attr="data-bs-target=${'#accordion-' + gameId},
                  aria-controls=${'#accordion-' + gameId}"
>
    <div>
      <h3 class="bold color-neutral-light" th:text="${matchInfo.getMatch().getGameMode()}"></h3>
      <p th:with="gameDuration=${matchInfo.getMatch().getGameDuration()},
                  formattedDuration=${' ' + (gameDuration / 60) + 'm ' + (gameDuration % 60) + 's'},
                  gameDate=${#temporals.format(T(java.time.Instant).ofEpochMilli(matchInfo.getMatch().getGameCreation()), 'MMM-dd')}"
      >
        <span class="text-secondary fs-200"
              th:text="${gameDate}"
        ></span>
        <span class="text-secondary fs-200"
              th:text="${formattedDuration}"
        ></span>
      </p>
    </div>

    <div class="d-flex justify-content-center align-items-center">
      <!--BLUE VS RED GOLD COMPARISON CHART-->
      <div  th:replace="~{partials/index/chart-container.html :: gold-chart}"></div>

      <!--BLUE VS RED KILL COMPARISON CHART-->
      <div  th:replace="~{partials/index/chart-container.html :: kill-chart}"></div>

      <!--BLUE VS RED DAMAGE COMPARISON CHART-->
      <div  th:replace="~{partials/index/chart-container.html :: damage-chart}"></div>
    </div>

    <div>
      <!--BLUE TEAM CHAMPIONS-->
      <div th:replace="~{partials/index/match.html :: champion(100)}"></div>

      <!--HORIZONTAL POSITION ICONS-->
      <div th:replace="~{partials/index/position-icons.html :: position-icons(false)}"></div>

      <!--RED TEAM CHAMPIONS-->
      <div th:replace="~{partials/index/match.html :: champion(200)}"></div>
    </div>
</button>

<div  th:fragment="accordion-body"
      th:with="gameId=${matchInfo.getMatch().getGameId()}"
      th:id="${'accordion-' + gameId}" class="accordion-collapse collapse"
      th:attr="data-bs-parent=${'#accordion' + gameId}"
>
    <div class="accordion-body bg-color-neutral-dark">
      <div class="card bg-transparent border-0 w-100">
        <div th:replace="~{partials/index/match.html :: card-header}"></div>
        <div th:replace="~{partials/index/match.html :: card-body}"></div>
        <div th:replace="~{partials/index/match.html :: card-footer}"></div>
      </div>
    </div>
</div>

<div th:fragment="card-header"
     class="card-header bg-transparent border-0"
>
  <div class="container">
    <div class="row row-cols-3">
      <!--BLUE TEAM INFO-->
      <div th:replace="~{partials/index/team-header.html :: team('Blue', 0)}"></div>

      <div class="col-2"></div>

      <!--RED TEAM INFO-->
      <div th:replace="~{partials/index/team-header.html :: team('Red', 1)}"></div>
    </div>
  </div>
</div>

<div th:fragment="card-body"
     class="card-body border-0 bg-transparent py-0"
>
  <div class="container">
    <div class="row">
      <!--BLUE TEAM INFO-->
      <div  th:replace="~{partials/index/team-body.html :: team('Blue', 0)}"></div>

      <!--VERTICAL POSITION ICONS-->
      <div th:replace="~{partials/index/position-icons.html :: position-icons(true)}"></div>

      <!--RED TEAM INFO-->
      <div  th:replace="~{partials/index/team-body.html :: team('Red', 1)}"></div>
    </div>
  </div>
</div>

<div th:fragment="card-footer"
     class="card-footer bg-transparent border-0"
>
  <div class="container">
    <div class="row">
      <!--BLUE TEAM INFO-->
      <div th:replace="~{partials/index/team-footer.html :: team('Blue', 0)}"></div>

      <div class="col-2"></div>

      <!--RED TEAM INFO-->
      <div th:replace="~{partials/index/team-footer.html :: team('Red', 1)}"></div>
    </div>
    <a th:href="@{${'/match?match=' + matchInfo.getMatch().getId()}}"
       class="btn match-btn" th:text="${'More Details'}"
    ></a>
  </div>
</div>

<div th:fragment="champion(teamId)"
     class=" d-flex justify-content-between gap-3 mb-2"
     th:with="participants=${matchInfo.getMatch().getParticipant()}"
>
  <th:block th:each="participant : ${participants}"
            th:with="participantTeam=${participant.getTeamId()}"
  >
    <th:block th:if="${participantTeam == teamId}">
      <img th:replace="~{partials/icons/champion-icon.html :: image(teamId)}">
    </th:block>
  </th:block>
</div>