<div  th:fragment="accordion-body"
      th:with="gameId=${matchInfo.getMatch().getGameId()}"
      th:id="${'accordion-' + gameId}"
      class="accordion-collapse collapse"
      th:attr="data-bs-parent=${'#accordion' + gameId}"
>
  <div class="accordion-body bg-color-neutral-dark">
    <div th:replace="~{partials/index/match-body.html :: card}"></div>
  </div>
</div>

<div th:fragment="card"
     class="card bg-transparent border-0 w-100"
>
  <div th:replace="~{partials/index/match-body.html :: card-header}"></div>
  <div th:replace="~{partials/index/match-body.html :: card-body}"></div>
  <div th:replace="~{partials/index/match-body.html :: card-footer}"></div>
</div>

<div th:fragment="card-header"
     class="card-header bg-transparent border-0"
>
  <div class="container">
    <div class="row row-cols-3">
      <!--BLUE TEAM INFO-->
      <div th:replace="~{partials/index/team-header.html :: team('Blue', 0)}"></div>

      <div class="col-2"></div>

      <!--RED TEAM INFO-->
      <div th:replace="~{partials/index/team-header.html :: team('Red', 1)}"></div>
    </div>
  </div>
</div>

<div th:fragment="card-body"
     class="card-body border-0 bg-transparent py-0"
>
  <div class="container">
    <div class="row">
      <!--BLUE TEAM INFO-->
      <div  th:replace="~{partials/index/team-body.html :: team('Blue', 0)}"></div>

      <!--VERTICAL POSITION ICONS-->
      <div th:replace="~{partials/index/position-icons.html :: position-icons(true)}"></div>

      <!--RED TEAM INFO-->
      <div  th:replace="~{partials/index/team-body.html :: team('Red', 1)}"></div>
    </div>
  </div>
</div>

<div th:fragment="card-footer"
     class="card-footer bg-transparent border-0"
>
  <div class="container">
    <div class="row">
      <!--BLUE TEAM INFO-->
      <div th:replace="~{partials/index/team-footer.html :: team('Blue', 0)}"></div>

      <div class="col-2"></div>

      <!--RED TEAM INFO-->
      <div th:replace="~{partials/index/team-footer.html :: team('Red', 1)}"></div>
    </div>
    <a th:href="@{${'/match?match=' + matchInfo.getMatch().getId()}}"
       class="btn match-btn" th:text="${'More Details'}"
    ></a>
  </div>
</div>