<div th:fragment="match-buttons(gameMode)"
      th:with="matchIsSaved=${matchInfo.getMatch().isSaved()},
               matchType=${matchInfo.getMatch().getGameMode()},
               isGameMode=${matchType == gameMode}"
>
  <th:block th:if="${matchIsSaved && (isGameMode || gameMode == 'ALL')}">
    <button th:replace="~{partials/index/match.html :: saved-match}"></button>
  </th:block>

  <th:block th:if="${!matchIsSaved && (gameMode == 'NEW' || gameMode == 'ALL')}">
    <button th:replace="~{partials/index/match.html :: new-match}"></button>
  </th:block>
</div>

<div th:fragment="saved-match"
        th:with="gameId=${matchInfo.getMatch().getGameId()},
                 friendWon=${matchInfo.isFriendWin()}"
        class="card card-bg w-100 mb-3 ps-3 py-2 border-0"
>
  <div th:replace="~{partials/index/match-button.html :: button}"></div>
</div>

<button th:fragment="new-match"
        th:with="gameId=${matchInfo.getMatch().getGameId()},
                 friends=${matchInfo.getFriends()}"
        th:id="${'accordion' + gameId}"
        class="card match card-bg w-100 mb-3 ps-3 border-0"
>
  <div class="card-body border-0 d-flex justify-content-between align-items-center px-0">
    <div class="d-flex flex-column justify-content-start align-items-start">
      <img th:src="@{/img/maps/locked.png}" class="">
    </div>

    <div>
      <th:block th:each="friend : ${friends}">
        <img th:replace="~{partials/icons/friend-icon.html :: image}">
      </th:block>
    </div>

    <a class="btn match-btn d-flex align-items-center gap-2">
      <span th:text="${'Load'}" class="color-neutral-medDark"></span>
      <img th:src="@{/img/ui/load2.png}" class="non-selectable ui-icon">
    </a>
  </div>
</button>