<div th:fragment="position-icons(isVertical)"
     th:switch="${matchInfo.getMatch().getGameMode()}"
     class=""
     th:classappend="${isVertical} ? 'bg-color-neutral-dark col-auto py-3 px-0' : ''"
>
    <th:block th:case="CLASSIC">
        <div th:replace="~{partials/index/position-icons.html :: classic(${isVertical})}"></div>
    </th:block>

    <th:block th:case="ARAM">
        <div th:replace="~{partials/index/position-icons.html :: aram(${isVertical})}"></div>
    </th:block>
</div>

<div th:fragment="aram(isVertical)"
     class="d-flex justify-content-between align-items-center"
     th:classappend="${isVertical} ? 'flex-column h-100' : 'px-2 mb-2'"
>
    <div th:replace="~{partials/index/position-icons.html :: position-icon('mid', ${isVertical})}"></div>
    <div th:replace="~{partials/index/position-icons.html :: position-icon('mid', ${isVertical})}"></div>
    <div th:replace="~{partials/index/position-icons.html :: position-icon('mid', ${isVertical})}"></div>
    <div th:replace="~{partials/index/position-icons.html :: position-icon('mid', ${isVertical})}"></div>
    <div th:replace="~{partials/index/position-icons.html :: position-icon('mid', ${isVertical})}"></div>
</div>

<div th:fragment="classic(isVertical)"
     class="d-flex justify-content-between align-items-center"
     th:classappend="${isVertical} ? 'flex-column h-100' : 'px-2 mb-2'"
>
    <div th:replace="~{partials/index/position-icons.html :: position-icon('top', ${isVertical})}"></div>
    <div th:replace="~{partials/index/position-icons.html :: position-icon('jgl', ${isVertical})}"></div>
    <div th:replace="~{partials/index/position-icons.html :: position-icon('mid', ${isVertical})}"></div>
    <div th:replace="~{partials/index/position-icons.html :: position-icon('bot', ${isVertical})}"></div>
    <div th:replace="~{partials/index/position-icons.html :: position-icon('sup', ${isVertical})}"></div>
</div>

<div th:fragment="position-icon(position, isVertical)"
     class="d-flex justify-content-center align-items-center"
     th:classappend="${isVertical} ? 'position-icon-lg-box mb-3' : ''"
>
    <img th:src="@{${'/img/' + position + '.png'}}"
         th:alt="${'player position ' + position}"
         class="non-selectable opacity-75"
         th:classappend="${isVertical} ? 'position-icon-lg' : 'position-icon'"
    >

</div>

