<div th:fragment="aram(title)"
     class="d-flex justify-content-between px-2 mb-2"
>
  <img th:src="@{${'/img/mid.png'}}"
       alt="player position" class="position-icon non-selectable opacity-75"
  >
  <img th:src="@{${'/img/mid.png'}}"
       alt="player position" class="position-icon non-selectable opacity-75"
  >
  <img th:src="@{${'/img/mid.png'}}"
       alt="player position" class="position-icon non-selectable opacity-75"
  >
  <img th:src="@{${'/img/mid.png'}}"
       alt="player position" class="position-icon non-selectable opacity-75"
  >
  <img th:src="@{${'/img/mid.png'}}"
       alt="player position" class="position-icon non-selectable opacity-75"
  >
</div>

<div th:fragment="classic(title)"
     class="d-flex justify-content-between px-2 mb-2"
>
    <img th:src="@{${'/img/top.png'}}"
         alt="player position" class="position-icon non-selectable opacity-75"
    >
    <img th:src="@{${'/img/jgl.png'}}"
         alt="player position" class="position-icon non-selectable opacity-75"
    >
    <img th:src="@{${'/img/mid.png'}}"
         alt="player position" class="position-icon non-selectable opacity-75"
    >
    <img th:src="@{${'/img/bot.png'}}"
         alt="player position" class="position-icon non-selectable opacity-75"
    >
    <img th:src="@{${'/img/sup.png'}}"
         alt="player position" class="position-icon non-selectable opacity-75"
    >
</div>

<div th:fragment="classic-vertical(title)"
     class="d-flex flex-column justify-content-between mb-2"
>
    <img th:src="@{${'/img/top.png'}}"
         alt="player position" class="position-icon-lg non-selectable opacity-75"
    >
    <img th:src="@{${'/img/jgl.png'}}"
         alt="player position" class="position-icon-lg non-selectable opacity-75"
    >
    <img th:src="@{${'/img/mid.png'}}"
         alt="player position" class="position-icon-lg non-selectable opacity-75"
    >
    <img th:src="@{${'/img/bot.png'}}"
         alt="player position" class="position-icon-lg non-selectable opacity-75"
    >
    <img th:src="@{${'/img/sup.png'}}"
         alt="player position" class="position-icon-lg non-selectable opacity-75"
    >
</div>

<div th:fragment="aram-vertical(title)"
     class="d-flex flex-column justify-content-end mb-2"
>
    <img th:src="@{${'/img/mid.png'}}"
         alt="player position" class="position-icon-lg non-selectable opacity-75"
    >
    <img th:src="@{${'/img/mid.png'}}"
         alt="player position" class="position-icon-lg non-selectable opacity-75"
    >
    <img th:src="@{${'/img/mid.png'}}"
         alt="player position" class="position-icon-lg non-selectable opacity-75"
    >
    <img th:src="@{${'/img/mid.png'}}"
         alt="player position" class="position-icon-lg non-selectable opacity-75"
    >
    <img th:src="@{${'/img/mid.png'}}"
         alt="player position" class="position-icon-lg non-selectable opacity-75"
    >
</div>