<div th:fragment="team(teamColor, teamNumber)"
     th:with="teamWin=${matchInfo.getMatch().getTeam()[teamNumber].isWin()},
              teamKills=${matchInfo.getMatch().getTeam()[teamNumber].getKills()},
              teamAssists=${matchInfo.getMatch().getTeam()[teamNumber].getDeaths()},
              teamDeaths=${matchInfo.getMatch().getTeam()[teamNumber].getAssists()},
              teamGold=${#numbers.formatDecimal(matchInfo.getMatch().getTeam()[teamNumber].getGold(), 3, 'COMMA', 0, 'POINT')}"
     class="col-5"
>
  <div class="d-flex justify-content-between">
    <div class="">
      <p>
        <span class="fw-semibold" th:text="${teamColor + ' Team'}"
        th:classappend="${teamColor == 'Blue'} ? 'color-primary-blue' : 'color-primary-red'"
        ></span>

        <span th:if="${teamWin}"
              class="badge bg-color-primary-main"
        >Won</span>

        <span th:unless="${teamWin}"
              class="badge bg-color-primary-dark"
        >Lost</span>
      </p>
    </div>

    <div class="">
      <img th:src="@{${'/img/kda.png'}}"
           alt="player position top" class="position-icon non-selectable opacity-75"
      >
      <span class="color-neutral-light fw-semibold"
         th:text="${teamKills + '/' + teamAssists + '/' + teamDeaths}">
      </span>
    </div>

    <div class="">
      <img th:src="@{${'/img/gold.png'}}"
           alt="player position top" class="position-icon non-selectable opacity-75"
      >
      <span class="color-neutral-light fw-semibold"
         th:text="${teamGold}">
      </span>
    </div>
  </div>

</div>