<div  th:fragment="blueTeam(teamNumber)"
        class="blue-team-bg col p-3">
  <div th:each="participant : ${matchInfo.getMatch().getParticipant()}"
       th:if="${participant.getTeamId()} == 100"
       class="d-flex justify-content-between mb-3 pe-4"
  >
    <div th:replace="~{partials/index/team-body.html :: participant('align-items-start', true)}"></div>
    <div class="">
      <div class="d-flex justify-content-between">
        <div th:replace="~{partials/index/team-body.html :: kda('')}"></div>

        <div th:replace="~{partials/index/team-body.html :: minion('')}"></div>
      </div>

      <div th:replace="~{partials/index/item-icons.html :: items('')}"></div>
    </div>
  </div>
</div>


<div th:fragment="redTeam(teamNumber)"
     class="red-team-bg col p-3 ms"
>
  <div th:each="participant : ${matchInfo.getMatch().getParticipant()}"
       th:if="${participant.getTeamId()} == 200"
       class="d-flex justify-content-between mb-3 ps-4"
  >
    <div class="">
      <div class="d-flex justify-content-between">
        <div th:replace="~{partials/index/team-body.html :: kda('')}"></div>

        <div th:replace="~{partials/index/team-body.html :: minion('')}"></div>
      </div>

      <div th:replace="~{partials/index/item-icons.html :: items('')}"></div>
    </div>
    <div th:replace="~{partials/index/team-body.html :: participant('align-items-end', false)}"></div>
  </div>
</div>

<div th:fragment="participant(alignItemsPosition, isBlueTeam)"
     class="h-100"
>
  <div class="d-flex flex-column justify-content-between"
       th:classappend="${alignItemsPosition}"
  >
    <div class="d-flex justify-content-between">
      <img th:if="${isBlueTeam}"
           th:src="@{${'/dragon_tail/13.14.1/img/champion/' + participant.getChampionName() + '.png'}}"
           alt="player icon" class="friend-icon non-selectable opacity-75 border border-2 me-2"
           th:classappend="${#lists.contains(friends.![puuId], participant.getPuuid())} ? 'border-warning' : 'border-secondary'"
      >

      <div th:replace="~{partials/index/team-body.html :: runes(${isBlueTeam})}"></div>

      <img th:unless="${isBlueTeam}"
           th:src="@{${'/dragon_tail/13.14.1/img/champion/' + participant.getChampionName() + '.png'}}"
           alt="player icon" class="friend-icon non-selectable opacity-75 border border-2 ms-2"
           th:classappend="${#lists.contains(friends.![puuId], participant.getPuuid())} ? 'border-warning' : 'border-secondary'"
      >
    </div>
    <p th:text="${participant.getSummonerName()}"
       class="color-primary-main fw-semibold mb-0"
    ></p>
  </div>
</div>

<div th:fragment="runes(isBlueTeam)">
  <div class="d-flex" th:if="${isBlueTeam}">
    <div class="rune-container position-relative me-2">
      <img th:src="@{${'/img/summoner_runes/' + participant.getPerk()[0].getPerkNum() + '.png'}}"
           alt="player icon" class="perk-icon-lg non-selectable opacity-75"
      >

      <img th:src="@{${'/img/summoner_runes/' + participant.getPerk()[4].getStyle() + '.png'}}"
           alt="player icon" class="perk-icon-sm non-selectable opacity-75 position-absolute bottom-0 end-0"
      >
    </div>

    <div class="d-flex flex-column">
      <img th:src="@{${'/img/summoner_spells/' + participant.getSummoner1Id() + '.png'}}"
           alt="player icon" class="item-icon non-selectable opacity-75 border border-1 border-secondary"
      >

      <img th:src="@{${'/img/summoner_spells/' + participant.getSummoner2Id() + '.png'}}"
           alt="player icon" class="item-icon non-selectable opacity-75 border border-1 border-secondary"
      >
    </div>
  </div>

  <div class="d-flex" th:unless="${isBlueTeam}">
    <div class="d-flex flex-column">
      <img th:src="@{${'/img/summoner_spells/' + participant.getSummoner1Id() + '.png'}}"
           alt="player icon" class="item-icon non-selectable opacity-75 border border-1 border-secondary"
      >

      <img th:src="@{${'/img/summoner_spells/' + participant.getSummoner2Id() + '.png'}}"
           alt="player icon" class="item-icon non-selectable opacity-75 border border-1 border-secondary"
      >
    </div>

    <div class="rune-container position-relative ms-2">
      <img th:src="@{${'/img/summoner_runes/' + participant.getPerk()[0].getPerkNum() + '.png'}}"
           alt="player icon" class="perk-icon-lg non-selectable opacity-75"
      >

      <img th:src="@{${'/img/summoner_runes/' + participant.getPerk()[4].getStyle() + '.png'}}"
           alt="player icon" class="perk-icon-sm non-selectable opacity-75 position-absolute bottom-0 end-0"
      >
    </div>
  </div>
</div>

<div th:fragment="kda(teamId)"
     th:with="kills=${participant.getKills()},
              deaths=${participant.getDeaths()},
              assists=${participant.getAssists()},
              kda=${deaths > 0 ? #numbers.formatDecimal((1.00 * (kills + assists) / deaths), 1, 'COMMA', 2, 'POINT') : 0}"
>
  <p class="color-neutral-light mb-0 fw-semibold"
     th:text="${kills + ' / ' + deaths + ' / ' + assists}"
  >
  </p>
  <p th:if="${kda == 0}"
     class="color-neutral-light mb-0 fst-italic fs-200 text-secondary"
     th:text="${'Perfect'}"
  ></p>
  <p th:unless="${kda == 0}"
     class="color-neutral-light mb-0 fst-italic fs-200 text-secondary"
     th:text="${kda + ' KDA'}"
  ></p>
</div>

<div th:fragment="minion(teamId)"
     th:with="minionKills=${participant.getTotalMinionsKilled() + participant.getNeutralMinionsKilled()},
              matchDuration=${((matchInfo.getMatch().getGameDuration() - 60) / 60)},
              minionKillspMin=${#numbers.formatDecimal((1.00 * minionKills / matchDuration), 0, 1)}"
>
  <p th:if="${minionKills == 0}"
     class="color-neutral-light mb-0"
  >
    <span th:text="${'0 CS'}" class="fw-semibold"></span>
  </p>

  <p th:unless="${minionKills == 0}"
     class="color-neutral-light mb-0"
  >
    <span th:text="${minionKills}" class="fw-semibold"></span>
    <span th:text="${'(' + minionKillspMin + ')'}" class="fst-italic"></span>
    <span th:text="${' CS'}" class="fw-semibold"></span>
  </p>

  <th:block th:with="killsCount=${matchInfo.getMatch().getTeam()[0].getKills()},
                     killParticipation=${100.00 * (participant.getKills() + participant.getAssists()) / killsCount}"
  >
    <p th:if="${killsCount == 0}"
       th:text="Oof..."
       class="color-neutral-light mb-0 fst-italic fs-200 text-secondary"
    ></p>
    <p th:unless="${killsCount == 0}"
       th:text="${#numbers.formatDecimal(killParticipation, 0, 1) + '% KP'}"
       class="color-neutral-light mb-0 fst-italic fs-200 text-secondary"
    ></p>
  </th:block>
</div>