<img th:fragment="image(teamId)"
     th:with="champion=${participant.getChampionName()},
              isFriend=${#lists.contains(friends.![puuId], participant.getPuuid())}"
     th:src="@{${'/dragon_tail/main/img/champion/' + champion + '.png'}}"
     alt="champion icon"
     class="friend-icon non-selectable opacity-75 border border-2"
     th:classappend="${isFriend} ? 'border-warning' : 'border-secondary'"
>

<img th:fragment="graph(num)"
     th:with="champion=${participant.getChampionName()},
              isFriend=${#lists.contains(friends.![puuId], participant.getPuuid())}"
     th:src="@{${'/dragon_tail/main/img/champion/' + champion + '.png'}}"
     alt="champion icon"
     class="friend-icon non-selectable opacity-75"
     th:classappend="${'participant-toggle-' + num}"
>

<img th:fragment="small(num)"
     th:with="champion=${participant.getChampionName()},
              isFriend=${#lists.contains(friends.![puuId], participant.getPuuid())}"
     th:src="@{${'/dragon_tail/main/img/champion/' + champion + '.png'}}"
     alt="champion icon"
     class="champ-icon non-selectable opacity-75"
     th:classappend="${'participant-toggle-' + num}"
>

<img th:fragment="timeline(name)"
     th:src="@{${'/dragon_tail/main/img/champion/' + name + '.png'}}"
     alt="champion icon"
     class="friend-icon non-selectable opacity-75"
>
