<div th:fragment="item(itemNum)"
     class="d-flex justify-content-between gap-0 column-gap-1"
>
    <th:block th:if="${itemNum == 0}">
        <div class="item-icon non-selectable opacity-75 bg-dark border border-1 border-secondary"></div>
    </th:block>
    <th:block th:unless="${itemNum == 0}">
        <img th:src="@{${'/dragon_tail/main/img/item/' + itemNum + '.png'}}"
             alt="item icon" class="item-icon non-selectable opacity-75 border border-1 border-secondary"
        >
    </th:block>
</div>

<div th:fragment="itemLg(itemNum)"
     class="d-flex justify-content-between gap-0 column-gap-1"
>
    <th:block th:if="${itemNum == 0}">
        <div class="itemLg-icon non-selectable opacity-75 bg-dark border border-1 border-secondary"></div>
    </th:block>
    <th:block th:unless="${itemNum == 0}">
        <img th:src="@{${'/dragon_tail/main/img/item/' + itemNum + '.png'}}"
             alt="item icon" class="itemLg-icon non-selectable opacity-75 border border-1 border-secondary"
        >
    </th:block>
</div>