<div th:fragment="champ-overview"
>
  <h2 class="font-bold color-neutral-light my-3">Champion Overview</h2>
  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <th:block th:each="participant : ${participants}"
              th:with="participantTag=${'participant-' + participant.getParticipant().getId()}"
    >
      <li class="nav-item" role="presentation">
        <button class="nav-link" th:id="${'pills-' + participantTag + '-tab'}" data-bs-toggle="pill" th:data-bs-target="${'#' + participantTag}"
                type="button" role="tab" th:aria-controls="${participantTag}" aria-selected="true">
          <img th:fragment="image(teamId)"
               th:with="champion=${participant.getParticipant().getChampionName()},
                        isFriend=${#lists.contains(friends.![puuId], participant.getParticipant().getPuuid())}"
               th:src="@{${'/dragon_tail/13.14.1/img/champion/' + champion + '.png'}}"
               alt="champion icon"
               class="friend-icon non-selectable opacity-75 border border-2"
               th:classappend="${isFriend} ? 'border-warning' : 'border-secondary'"
          >
        </button>
      </li>
    </th:block>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <th:block th:each="participant : ${participants}"
              th:with="participantTag=${'participant-' + participant.getParticipant().getId()}"
    >
      <div th:id="${participantTag}"
           class="tab-pane fade"
           th:aria-labelledby="${'pills-' + participantTag + '-tab'}"
           th:tabindex="${participant.getParticipant().getParticipantNum}" role="tabpanel">
        <div class="container">
          <div class="row">
            <div class="col-auto">
              <img th:fragment="image(teamId)"
                   th:with="champion=${participant.getParticipant().getChampionName()},
                      isFriend=${#lists.contains(friends.![puuId], participant.getParticipant().getPuuid())}"
                   th:src="@{${'/dragon_tail/img/champion/loading/' + champion + '_0.jpg'}}"
                   th:alt="${champion + ' splash'}"
                   class="non-selectable opacity-75 border border-2"
                   th:classappend="${isFriend} ? 'border-warning' : 'border-secondary'"
              >
            </div>
            <div class="col">
              <div th:with="itemGroups=${participant.getEventItems()}"
              >
                <div th:each="itemGroup : ${itemGroups}"
                >
                  <div class="d-flex gap-1">
                    <th:block th:each="item : ${itemGroup}"
                              th:with="itemNum=${item.getItemNum()}"
                    >
                      <div th:replace="~{partials/icons/item-icon.html :: item(${itemNum})}"></div>
                    </th:block>
                  </div>

                  <p th:with="timestamp=${itemGroup[0].getEvent().getTimestamp()},
                            timeMins=${timestamp / (60 * 1000)},
                            timeSecs=${#numbers.formatDecimal((timestamp % (60 * 1000)/1000), 0, 'COMMA', 0, 'POINT')},
                            formattedTimestamp=${' ' + timeMins + 'm ' + timeSecs + 's'}"
                     th:text="${formattedTimestamp}"
                     class="color-neutral-main"
                  ></p>
                </div>
              </div>

              <!--                <div th:if="${event.getEventSkillUp}">-->
              <!--                  <p>getEventSkillUp</p>-->
              <!--                </div>-->
              <!--                <div th:if="${event.getEventLevelUp}">-->
              <!--                  <p>getEventLevelUp</p>-->
              <!--                </div>-->
              <!--                <div th:if="${event.getEventChampKill}">-->
              <!--                  <p>getEventChampKill</p>-->
              <!--                </div>-->
              <!--                <div th:if="${event.getEventBuildingKill}">-->
              <!--                  <p>getEventBuildingKill</p>-->
              <!--                </div>-->
              <!--                <div th:if="${event.getEventEliteMonsterKill}">-->
              <!--                  <p>getEventEliteMonsterKill</p>-->
              <!--                </div>-->
              <!--                <div th:if="${event.getEventChampSpecialKill}">-->
              <!--                  <p>getEventChampSpecialKill</p>-->
              <!--                </div>-->

              <div
                      th:with="team1Damage=${matchInfo.getMatch().getTeam()[0].getTotalDamage()},
                               team2Damage=${matchInfo.getMatch().getTeam()[1].getTotalDamage()},
                               maxDamage=${T(java.lang.Math).max(team1Damage, team2Damage)}
                              "
              >
                <p th:text="${participant.getParticipant().getTotalDamageDealt()}" class="color-primary-main"></p>
                <div class="progress-stacked">
                  <div class="progress" role="progressbar" aria-label="Segment one" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"
                       th:style="'width:'+${#numbers.formatDecimal((100 * participant.getParticipant().getPhysicalDamageDealt()/(maxDamage)), 0, 0) + '%'}"
                  >
                    <div class="progress-bar"></div>
                  </div>
                  <div class="progress" role="progressbar" aria-label="Segment two" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"
                       th:style="'width:'+${#numbers.formatDecimal((100 * participant.getParticipant().getMagicDamageDealt()/(maxDamage)), 0, 0) + '%'}"
                  >
                    <div class="progress-bar bg-success"></div>
                  </div>
                  <div class="progress" role="progressbar" aria-label="Segment three" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"
                       th:style="'width:'+${#numbers.formatDecimal((100 * participant.getParticipant().getTrueDamageDealt()/(maxDamage)), 0, 0) + '%'}"
                  >
                    <div class="progress-bar bg-info"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </th:block>
  </div>
</div>