<div th:fragment="match-timeline" xmlns:th="http://www.w3.org/1999/html">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <div class="position-relative">
          <th:block th:each="killEvent, i : ${killEvents}">
            <th:block th:with="posX=${(killEvent.getPosX())},
                               posY=${(killEvent.getPosY())}"
            >
              <div class="kill-event"
                   th:classappend="${killEvent.getKiller().getTeamId() == 100} ? 'bg-color-primary-blue' : 'bg-color-primary-red'"
                   th:style="'position: absolute; bottom: ' + ${posY} + '%; left: ' + ${posX} + '%;'"
              ></div>
            </th:block>
          </th:block>

          <img th:if="${matchInfo.getMatch().getGameMode() == 'CLASSIC'}"
               th:src="@{/img/maps/map11.png}" alt="Rift Map"
               class="img-fluid"
          >
          <img th:if="${matchInfo.getMatch().getGameMode() == 'ARAM'}"
               th:src="@{/img/maps/map12.png}" alt="Aram Map"
               class="img-fluid"
          >
        </div>
      </div>

      <div class="col-4 bg-color-neutral-black">
        <th:block th:each="killEvent, i : ${killEvents}">
          <div class="rounded p-2 mb-1"
               th:classappend="${killEvent.getKiller().getTeamId() == 100} ? 'bg-color-primary-blue' : 'bg-color-primary-red'"
               th:with="killerChamp=${killEvent.getKiller().getChampionName()},
                        killedChamp=${killEvent.getKilled().getChampionName()}"
          >
            <div class="d-flex align-items-center gap-2">
              <img th:replace="~{partials/icons/champion-icon :: timeline(${killerChamp})}">
              <img th:src="@{/img/match-icons/kda.png}" class="">
              <img th:replace="~{partials/icons/champion-icon :: timeline(${killedChamp})}">
            </div>
            <p th:with="posX=${killEvent.getPosX()},
                        posY=${killEvent.getPosY()}">
              <span th:text="${posX}" class="color-neutral-light"></span>
              <span th:text="${posY}" class="color-neutral-light"></span>
            </p>
          </div>
        </th:block>
      </div>
    </div>
  </div>

</div>