<div th:fragment="match-graphs"
     class="participant-charts mb-5"
     th:with="tab1Name=${'Match'},
              tab2Name=${'Team'},
              tab3Name=${'Individual'},

              tab1ChartId=${'match-' + tab1Name},
              tab2ChartId=${'match-' + tab2Name},
              tab3ChartId=${'match-' + tab3Name},

              tab1ButtonId=${'button-' + tab1Name},
              tab2ButtonId=${'button-' + tab2Name},
              tab3ButtonId=${'button-' + tab3Name}
              "
>
  <ul class="nav nav-pills mb-3"
      th:id="${'matchGraphs-tabButtons'}"
      role="tablist">
    <li th:replace="~{partials/detailed-match/participant-graphs/tab-list.html ::
          text(${tab1ButtonId}, ${tab1Name}, ${tab1Name}, true)}"
    >

    <li th:replace="~{partials/detailed-match/participant-graphs/tab-list.html ::
          text(${tab2ButtonId}, ${tab2Name}, ${tab2Name}, false)}"
    >

    <li th:replace="~{partials/detailed-match/participant-graphs/tab-list.html ::
          text(${tab3ButtonId}, ${tab3Name}, ${tab3Name}, false)}"
    >
  </ul>

  <div class="tab-content"
       th:id="${'matchGraphs-tabContent'}"
  >
    <div th:replace="~{partials/detailed-match/participant-graphs/tab-content.html ::
            chart(${tab1ButtonId}, ${tab1Name}, ${tab1ChartId}, ${tab1Name}, true, false)}"
    ></div>

    <div th:replace="~{partials/detailed-match/participant-graphs/tab-content.html ::
            chart(${tab2ButtonId}, ${tab2Name}, ${tab2ChartId}, ${tab2Name}, false, false)}"
    ></div>

    <div th:replace="~{partials/detailed-match/participant-graphs/tab-content.html ::
            chart(${tab3ButtonId}, ${tab3Name}, ${tab3ChartId}, ${tab3Name}, false, true)}"
    ></div>
  </div>

  <div class="d-flex gap-3">
    <button th:id="${'toggleDamageDealt'}" class="small-icons DamageDealt-icon toggleDamageDealt"></button>
    <button th:id="${'toggleDamageTaken'}" class="small-icons DamageTaken-icon toggleDamageTaken"></button>
    <button th:id="${'toggleXp'}" class="small-icons Xp-icon toggleXp"></button>
    <button th:id="${'toggleCs'}" class="small-icons CS-icon toggleCs"></button>
    <button th:id="${'toggleGold'}" class="small-icons Gold-icon toggleGold"></button>
  </div>
</div>