:root {
    --color-primary-light: #eecc8a;
    --color-primary-main: #9c865c;
    --color-primary-dark: #504229;

    --color-primary-red: #a2434e;
    --color-primary-blue: #4775b4;

    --color-neutral-light: #f6f1e5;
    --color-neutral-main: #4b4b56;
    --color-neutral-dark: #21252a;

    --fs-900: 4rem;
    --fs-800: 3rem;
    --fs-700: 2rem;
    --fs-600: 1.5rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem;
    --fs-300: .825rem;
    --fs-200: .75rem;
    --fs-100: .625rem;
}

/*//////////////////////////////
UTILITY CLASSES
//////////////////////////////*/

/* BG Colors */
.bg-color-primary-light {background-color: var(--color-primary-light);}
.bg-color-primary-main {background-color: var(--color-primary-main);}
.bg-color-primary-dark {background-color: var(--color-primary-dark);}
.bg-color-neutral-light {background-color: var(--color-neutral-light);}
.bg-color-neutral-main {background-color: var(--color-neutral-main);}
.bg-color-neutral-dark {background-color: var(--color-neutral-dark);}

/* Colors */
.color-primary-light {color: var(--color-primary-light);}
.color-primary-main {color: var(--color-primary-main);}
.color-primary-dark {color: var(--color-primary-dark);}
.color-primary-red {color: var(--color-primary-red);}
.color-primary-blue {color: var(--color-primary-blue);}
.color-neutral-light {color: var(--color-neutral-light);}
.color-neutral-main {color: var(--color-neutral-main);}
.color-neutral-dark {color: var(--color-neutral-dark);}

/* Font Sizes */
.fs-900 {font-size: var(--fs-900);}
.fs-800 {font-size: var(--fs-800);}
.fs-700 {font-size: var(--fs-700);}
.fs-600 {font-size: var(--fs-600);}
.fs-500 {font-size: var(--fs-500);}
.fs-400 {font-size: var(--fs-400);}
.fs-300 {font-size: var(--fs-300);}
.fs-200 {font-size: var(--fs-200);}
.fs-100 {font-size: var(--fs-100);}

/* Styles */
.to-upper {text-transform:uppercase}
.to-lower {text-transform:lowercase}

.friend-mask {
    height: 64px;
    aspect-ratio: 1;
    clip-path: polygon(33% 0%, 100% 0%, 67% 100%, 0% 100%);
    margin-inline-start: -.825rem;
}

.card-bg {
    background: linear-gradient(90deg, var(--color-neutral-main) 0%, rgba(33, 37, 42, 0.5) 100%);
}

.card-bg-win {
    background: linear-gradient(90deg, rgba(71, 117, 180, 0.5) 0%, rgba(33, 37, 42, 0.5) 100%);
}

.card-bg-loss {
    background: linear-gradient(90deg, rgba(162, 67, 78, 0.5) 0%, rgba(33, 37, 42, 0.5) 100%);
}

.blue-team-bg {
    background: linear-gradient(90deg, rgba(71, 117, 180, 0.5) 0%, rgba(33, 37, 42, 0.5) 100%);
}

.red-team-bg {
    background: linear-gradient(270deg, rgba(162, 67, 78, 0.5) 0%, rgba(33, 37, 42, 0.5) 100%);
}

.non-selectable {
    user-select: none;
}

/*//////////////////////////////
VISUAL FRAMEWORK
//////////////////////////////*/
.friend-icon {
    height: 48px;
    width: 48px;
    border-radius: 50%;
}

.item-icon {
    height: 24px;
    aspect-ratio: 1;
    border-radius: 12.5%;
}

.position-icon {
    height: 24px;
    aspect-ratio: 1;
}

.objective-icon {
    height: 16px;
    aspect-ratio: 1;
}

.rune-container {
    height: 48px;
    width: 36px;
}

.perk-icon-lg {
    height: 36px;
    aspect-ratio: 1;
}

.perk-icon-sm {
    height: 16px;
    aspect-ratio: 1;
}

.position-icon-lg {
    height: 32px;
    width: 32px;
}

.position-icon-lg-box {
    height: 72px;
    width: 36px;
}

.accordion {
    border: none;
    --bs-accordion-border-width:0;
    --bs-accordion-btn-color: #ff0000;
    --bs-accordion-body-padding-x: .5rem;
    --bs-accordion-body-padding-y: 2rem;
}

/*.accordion-item {*/
/*    background-color: rgba(33, 37, 42, 0);*/
/*    border: none;*/
/*    outline: none;*/
/*    overflow: hidden;*/
/*}*/

.accordion-body {
    border: none;
    /*--bs-accordion-border-width:0;*/

    /*--bs-accordion-btn-focus-border-color: #ff6200;*/
}

.accordion-button::after {
    height: 60px;
    width: 60px;
    aspect-ratio: 1;
    background-size: 60px;
    background-image: url("../img/arrow.png");
    /*background-image: var(--bs-accordion-btn-active-icon);*/
    margin-inline-start: 0;
}

.accordion-button:not(.collapsed)::after {
    /*background-size: 20px;*/
    background-image: url("../img/arrow.png");
}

.accordion-button[aria-expanded="true"] {
    background-color: rgba(33, 37, 42, 0);
}

.accordion-button[aria-expanded="false"] {
    background-color: rgba(33, 37, 42, 0);
}

/*.accordion-button:focus {*/
/*    background-color: rgba(33, 37, 42, 0);*/
/*    border: none;*/
/*    outline: none;*/
/*    overflow: hidden;*/
/*}*/

.selected {
    background: rgba(255, 255, 255, 0.05);
    border-radius: .5rem;
}

.nav-pills {
    --bs-nav-pills-border-radius: 0;
    --bs-nav-pills-link-active-color: var(--color-primary-light);
    --bs-nav-pills-link-active-bg: none;
}

.nav {
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: var(--color-primary-main);
    --bs-nav-link-hover-color: var(--color-primary-light);
    --bs-nav-link-disabled-color: var(--color-primary-dark);
    list-style: none;
}

.nav .active{
    border-bottom: solid 1px var(--color-primary-light);
}

.fixed-left {
    position: fixed;
    top: 0;
    left: 0;
}

.fixed-right {
    position: fixed;
    top: 0;
    right: 0;
}

nav {
    height: 100vh;
}