:root {
    --color-primary-light: #D0AB8A;
    --color-primary-main: #BF8C5F;
    --color-primary-dark: #754F2F;

    --color-neutral-light: #f6f1e5;
    --color-neutral-main: #4b4b56;
    --color-neutral-dark: #21252a;

    --fs-900: 4rem;
    --fs-800: 3rem;
    --fs-700: 2rem;
    --fs-600: 1.5rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem;
    --fs-300: .825rem;
    --fs-200: .75rem;
    --fs-100: .625rem;
}

/*//////////////////////////////
UTILITY CLASSES
//////////////////////////////*/

/* BG Colors */
.bg-color-primary-light {background-color: var(--color-primary-light);}
.bg-color-primary-main {background-color: var(--color-primary-main);}
.bg-color-primary-dark {background-color: var(--color-primary-dark);}
.bg-color-neutral-light {background-color: var(--color-neutral-light);}
.bg-color-neutral-main {background-color: var(--color-neutral-main);}
.bg-color-neutral-dark {background-color: var(--color-neutral-dark);}

/* Colors */
.color-primary-light {color: var(--color-primary-light);}
.color-primary-main {color: var(--color-primary-main);}
.color-primary-dark {color: var(--color-primary-dark);}
.color-neutral-light {color: var(--color-neutral-light);}
.color-neutral-main {color: var(--color-neutral-main);}
.color-neutral-dark {color: var(--color-neutral-dark);}

/* Font Sizes */
.fs-900 {font-size: var(--fs-900);}
.fs-800 {font-size: var(--fs-800);}
.fs-700 {font-size: var(--fs-700);}
.fs-600 {font-size: var(--fs-600);}
.fs-500 {font-size: var(--fs-500);}
.fs-400 {font-size: var(--fs-400);}
.fs-300 {font-size: var(--fs-300);}
.fs-200 {font-size: var(--fs-200);}
.fs-100 {font-size: var(--fs-100);}

/* Styles */
.to-upper {text-transform:uppercase}
.to-lower {text-transform:lowercase}

.friend-mask {
    height: 64px;
    aspect-ratio: 1;
    clip-path: polygon(33% 0%, 100% 0%, 67% 100%, 0% 100%);
    margin-inline-start: -.825rem;
}

.card-bg {
    background: linear-gradient(90deg, var(--color-neutral-main) 0%, var(--color-neutral-dark) 100%);
}

.non-selectable {
    user-select: none;
}

/*//////////////////////////////
VISUAL FRAMEWORK
//////////////////////////////*/
.friend-icon {
    height: 45px;
    aspect-ratio: 1;
    border-radius: 50%;
}
