:root {
    --color-primary-light: #fae9c9;
    --color-primary-main: #DBAD43;
    --color-primary-dark: #BD8441;

    --color-neutral-light: #FEFAF1;
    --color-neutral-main: #6b6b77;
    --color-neutral-dark: #32373B;
}

/*//////////////////////////////
UTILITIES
//////////////////////////////*/

/* BG Colors */
.bg-color-primary-light {background-color: var(--color-primary-light);}
.bg-color-primary-main {background-color: var(--color-primary-main);}
.bg-color-primary-dark {background-color: var(--color-primary-dark);}
.bg-color-neutral-light {background-color: var(--color-neutral-light);}
.bg-color-neutral-main {background-color: var(--color-neutral-main);}
.bg-color-neutral-dark {background-color: var(--color-neutral-dark);}

/* Colors */
.color-primary-light {color: var(--color-primary-light);}
.color-primary-main {color: var(--color-primary-main);}
.color-primary-dark {color: var(--color-primary-dark);}
.color-neutral-light {color: var(--color-neutral-light);}
.color-neutral-main {color: var(--color-neutral-main);}
.color-neutral-dark {color: var(--color-neutral-dark);}


/*//////////////////////////////
VISUAL FRAMEWORK
//////////////////////////////*/
html, main, body {
    background: var(--color-neutral-light);
}

main {
    margin-top: 8rem;
}

/* Headings */
h1 {
    color: var(--color-primary-main);
    margin-block-end: 4rem;
}

h2 {
    color: var(--color-primary-main);
    margin-block-end: 3rem;
}

.container-fluid h2 {
    color: var(--color-neutral-light)
}

h3 {
    color: var(--color-primary-main);
}

.container-fluid .card-title {
    color: var(--color-neutral-light)
}

.card-title {
    text-align: center;
}

.card-text {
    text-align: center;
}

.card-footer {
    text-align: center;
}

.support-text {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%;
}

a:hover {
    color: var(--color-primary-main);
}

a:active {
    color: #9400de;
}

/* Containers */
.container {
    background: var(--color-neutral-light);
    margin-block: 6rem;
}

.footy {
    position: relative;
    bottom: 0;
}

 main .container-fluid {
     background: var(--color-primary-main);
     margin-block: 6rem;
     padding-block: 4rem;
     padding-inline: 5rem;
}

 /* Cards */
.card {
    background: none;
    border: 1px solid var(--color-primary-dark);
}

.card-header {
    background: none;
    border: none;
}

.card-body {
    background: none;
    border: none;
}

.card-footer {
    background: none;
    border: none;
}

.card-title {
    color: var(--color-primary-main);
    font-weight: bold;
    font-size: 1.5rem;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.support-a {
    color: var(--color-primary-main);
}

/*REGISTER CSS*/

.register-background {
    background-color: var(--color-primary-light);
    border-radius: 15px;
    /*margin: 5px 2px 1px 2px;*/
    padding: 1rem;
}


.register-btn {
    background-color: var(--color-primary-main);
    color: var(--color-neutral-dark);
    border: none;
    height: 35px;
    width: 70px;
    border-radius: 5px;
}

.honeydoer-img {
    height: 220px;
    width: 220px
}

.honeydoer-submit {
    background-color: var(--color-primary-main);
    color: var(--color-neutral-dark);
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 40px;
}



.proposal-btn {
    background-color: var(--color-primary-main);
    color: white;
}

/* Reviews homepage */

.review-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.review-column {
    width: 300px;
    margin: 20px;
    padding: 20px;
    background: var(--color-neutral-light);
    border-radius: 5px;
}

/* Featured Professionals home page */
.featured-professionals {
    background: var(--color-neutral-light);
    padding: 60px 0;
    text-align: center;
}

.featured-professionals h2 {
    font-size: 28px;
    margin-bottom: 30px;
}

.featured-professionals .row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.featured-professionals .col {
    flex: 1;
    margin: 0 10px;
}

.professional-card {
    background: var(--color-neutral-light);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.professional-card img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.professional-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.professional-card p {
    color: #888;
    margin-bottom: 10px;
}

.rating {
    margin-bottom: 15px;
}

.rating .star {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: var(--color-primary-main);
    border-radius: 50%;
    margin-right: 2px;
}

.review {
    font-style: italic;
    color: #555;
}
.collage-section {
    padding: 40px;
}

.collage-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.collage-item {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 75%;
}

.collage-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.hero-section {
    background: var(--color-neutral-light);
    padding: 60px 0;
    text-align: center;
}

.hero-section h1 {
    margin: 0 auto;
    max-width: 800px;
}
.logo {
    margin-bottom: 17px;
    margin-top: -90px;
}

@media (min-width: 768px) {
    .logo {
        max-height: 450px; /* Adjust the value as needed */
        margin-top: -90px; /* Adjust the value as needed */
    }
}

.catchphrase {
    margin-top: 20px;
}

.logo-small {
    width: 65px;
    height: 65px;
    margin-right: 10px;
}
.headline {
    margin-bottom: 2px;
}
.container .custom-review-card {
    background: var(--color-neutral-light);
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

.container .custom-review-card p.custom-review-text {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.container .custom-review-card p.custom-review-author {
    font-size: 14px;
    color: #666;
    margin-top: 10px;
}
/*Team Photos*/
.container .card-header {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/*.container .card-header img {*/
/*    max-width: 100%;*/
/*    max-height: 100%;*/
/*    object-fit: contain;*/
/*}*/
.container .card-footer img {
    font-size: 60px;
}

.team-section {
    text-align: center;
}

.team-section .col {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.team-section .card {
    width: 100%;
}

.team-section .row-cols-3 {
    justify-content: center;
}



/*About Us*/
.image-container {
    position: relative;
    text-align: center;
}

.caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
    color: white;
    z-index: 1;
}
/*Call to Action*/
.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-neutral-light);
    padding: 20px;
}

.buzzer {
    position: relative;
}

.buzzer:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    background-color: #ffcc00;
    border-radius: 50%;
}

.buzzer-button {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 40px 60px;
    background: var(--color-neutral-light);
    border: 2px solid #ffcc00;
    border-radius: 10px;
    text-decoration: none;
    color: #000000;
    transition: background-color 0.3s, color 0.3s;
}

.buzzer-button:hover {
    background: #ffcc00;
}

/* Responsive styles */
@media (max-width: 767px) {
    .featured-professionals .row {
        flex-direction: column;
        align-items: center;
    }

    .featured-professionals .col {
        width: 100%;
        margin: 10px 0;
    }
}

.nav-link {
    color: var(--color-neutral-dark);
}

.nav-link:hover {
    color: var(--color-primary-main);
}

.btn-warning {
    color: var(--color-neutral-light);
    background: var(--color-primary-main);
    border: solid 1px var(--color-primary-main);
}

.btn-warning:hover,
.btn-warning:active,
.btn-warning:focus{
    color: var(--color-neutral-light) !important;
    background: var(--color-primary-dark) !important;
    border: solid 1px var(--color-primary-light);
}


.nav-link.active,
.nav-link.active:focus,
.nav-link.active:active,
.nav-link.active:hover {
    color: var(--color-neutral-light) !important;
    background: var(--color-primary-main) !important;
}

/*Service images*/

.service-img {
    transition: filter 0.3s, transform 0.3s;
    -moz-box-shadow: 0 0 5px var(--color-primary-dark);
    -webkit-box-shadow: 0 0 15px var(--color-primary-dark);
    box-shadow: 0px 0px 15px var(--color-primary-dark);
}
.service-img:hover {
    filter: brightness(75%);
    transform: scale(1.1);

}

.index-img {
    transition: filter 0.3s, transform 0.3s;
    -moz-box-shadow: 0 0 5px var(--color-primary-dark);
    -webkit-box-shadow: 0 0 15px var(--color-primary-dark);
    box-shadow: 0px 0px 15px var(--color-primary-dark);
}
.index-img:hover {
    filter: brightness(75%);
    transform: scale(1.1);

}

.about-img {
    transition: filter 0.3s, transform 0.3s;
    -moz-box-shadow: 0 0 5px var(--color-neutral-main);
    -webkit-box-shadow: 0 0 12px var(--color-neutral-main);
    box-shadow: 0px 0px 12px var(--color-neutral-main);
}
.about-img:hover {
    filter: brightness(75%);
    transform: scale(1.1);

}

.book-img {
    height: 165px;
    width: 165px;
    object-fit: fill;
    border-radius: 50%;
    transition: filter 0.3s, transform 0.3s;
    -moz-box-shadow: 0 0 5px var(--color-primary-dark);
    -webkit-box-shadow: 0 0 15px var(--color-primary-dark);
    box-shadow: 0px 0px 15px var(--color-primary-dark);
}
.book-img:hover {
    filter: brightness(75%);
    transform: scale(1.1);

}

.header-img {
    -moz-box-shadow: 0 0 5px var(--color-primary-dark);
    -webkit-box-shadow: 0 0 15px var(--color-primary-dark);
    box-shadow: 0px 0px 15px var(--color-primary-dark);
    padding: 0;
    max-width: 50%;
    height: auto;
}




/*REVIEW STYLING*/

.review-column {
    background-color: var(--color-primary-light);
    border: 1px solid var(--color-neutral-dark);
    border-radius: 5px;
    padding: 20px;
    transition: box-shadow 0.3s ease;
}

.review-column:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.review-text {
    font-size: 16px;
    font-style: italic;
    color: #333;
    margin-bottom: 10px;
}

.author {
    font-weight: bold;
    color: #555;
}

.tiny-icon {
    width: 2rem;
    aspect-ratio: 1;
}

.bar .btn-warning {
    color: var(--color-neutral-light);
    background: var(--color-primary-dark);
}

.bar .btn-warning:hover,
.bar .btn-warning:active,
.bar .btn-warning:focus{
    color: var(--color-neutral-light) !important;
    background: var(--color-primary-main) !important;
    border: solid 1px var(--color-primary-light);
}

.text-secondary {
    font-size: .75rem;
}


