<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html" lang="en">
<head th:replace="~{partials/head.html :: head('Home')}"><title>title</title></head>
<body class="bg-color-neutral-dark">

<main class="container-fluid ms-0" id="match" th:data-matchId="${matchInfo.getMatch().getId()}">
  <div class="row gx-5">
    <nav th:replace="~{partials/primary-nav.html :: primary-nav}"></nav>

    <section class="col-6 content">
      <h1 class="font-bold color-neutral-light my-3">Recent matches</h1>
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="overview-tab" data-bs-toggle="pill" data-bs-target="#overview" type="button" role="tab" aria-controls="overview" aria-selected="true">Overview</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="timelines-tab" data-bs-toggle="pill" data-bs-target="#timelines" type="button" role="tab" aria-controls="timelines" aria-selected="false">Timelines</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="champion-tab" data-bs-toggle="pill" data-bs-target="#champion" type="button" role="tab" aria-controls="champion" aria-selected="false">Champion</button>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab" tabindex="0">
          <div th:replace="~{partials/index/match-body.html :: card}"></div>

        </div>
        <div class="tab-pane fade" id="timelines" role="tabpanel" aria-labelledby="timelines-tab" tabindex="1">
        </div>
        <div class="tab-pane fade" id="champion" role="tabpanel" aria-labelledby="champion-tab" tabindex="2">
          <div th:replace="~{partials/detailed-match/champion-overview.html :: champ-overview}"></div>
        </div>
      </div>
    </section>

    <aside th:replace="~{partials/friends-aside.html :: aside}"></aside>
  </div>

</main>

</body>
</html>