<div th:fragment="chart(buttonId, contentId, chartId, chartName, isActive)"
     th:id="${contentId}"
     role="tabpanel" tabindex="0"
     th:aria-labelledby="${buttonId}"
     class="tab-pane fade"
     th:classappend="${isActive} ? 'show active' : ''"
>
    <div th:id="${chartId}"
         th:class="${chartName}"
    ></div>
</div>

<div th:fragment="link(buttonId, contentId, chartId, chartName, isActive, participantNum, location)"
     th:id="${contentId}"
     role="tabpanel" tabindex="0"
     th:aria-labelledby="${buttonId}"
     class="tab-pane fade"
     th:classappend="${isActive} ? 'show active' : ''"
>
    <th:block th:if="${location == 'OVERVIEW'}">
        <p class="color-primary-red">O</p>
<!--        <div th:replace="~{partials/detailed-match/participant-graphs/overview.html :: overview(${participantNum})}"></div>-->
    </th:block>
    <th:block th:if="${location == 'DAMAGE'}">
        <p class="color-primary-red">V</p>
<!--        <div th:replace="~{partials/detailed-match/participant-graphs/damage.html :: damage(${participantNum})}"></div>-->
    </th:block>
    <th:block th:if="${location == 'STATS'}">
        <p class="color-primary-red">S</p>
<!--        <div th:replace="~{partials/detailed-match/participant-graphs/stats.html :: stats(${participantNum})}"></div>-->
    </th:block>
</div>