<li th:fragment="icon(buttonId, contentId, icon, isActive)"
    class="nav-item"
    role="presentation"
>
  <button th:id="${buttonId}"
          data-bs-toggle="pill"
          th:data-bs-target="${'#' + contentId}"
          type="button" role="tab"
          th:aria-controls="${contentId}"
          aria-selected="true"
          class="nav-link px-0 mx-3"
          th:classappend="${isActive} ? 'active' : ''"
  >
    <div class="small-icons" th:classappend="${icon}"></div>
<!--    <img th:src="@{/img/maps/locked.png}" class="">-->
  </button>
</li>

<li th:fragment="text(buttonId, contentId, text, isActive)"
    class="nav-item"
    role="presentation"
>
  <button th:id="${buttonId}"
          data-bs-toggle="pill"
          th:data-bs-target="${'#' + contentId}"
          type="button" role="tab"
          th:aria-controls="${contentId}"
          aria-selected="true"
          class="nav-link px-0 mx-3"
          th:classappend="${isActive} ? 'active' : ''"
          th:text="${text}"
  >
  </button>
</li>