<div th:fragment="damageBar(title, totalDamage, physicalDamage, magicDamage, trueDamage)" class="col">
  <div th:with="physicalDamagePercent=${(100 * physicalDamage / totalDamage)},
                magicDamagePercent=${(100 * magicDamage / totalDamage)},
                trueDamagPercent=${(100 * trueDamage / totalDamage)},

                formattedTotalDamage=${#numbers.formatDecimal(totalDamage,  0, 'COMMA', 0, 'POINT')},
                formattedPhysicalDamage=${#numbers.formatDecimal(physicalDamage,  0, 'COMMA', 0, 'POINT')},
                formattedMagicDamage=${#numbers.formatDecimal(magicDamage,  0, 'COMMA', 0, 'POINT')},
                formattedTrueDamage=${#numbers.formatDecimal(trueDamage,  0, 'COMMA', 0, 'POINT')},

                valueMin=${0},
                valueMax=${100}"
  >
    <p th:text="${title} + ' ' + ${formattedTotalDamage}" class="color-primary-main mb-1"></p>
    <div class="progress-stacked bg-color-neutral-light">
      <div class="progress" role="progressbar" aria-label="Segment one"
           th:aria-valuenow="${physicalDamagePercent}"
           th:aria-valuemin="${valueMin}" th:aria-valuemax="${valueMax}"
           th:style="'width:' + ${physicalDamagePercent} + '%'"
      >
        <div class="progress-bar bg-color-primary-red"></div>
      </div>
      <div class="progress" role="progressbar" aria-label="Segment two"
           th:aria-valuenow="${magicDamagePercent}"
           th:aria-valuemin="${valueMin}" th:aria-valuemax="${valueMax}"
           th:style="'width:' + ${magicDamagePercent} + '%'"
      >
        <div class="progress-bar bg-color-primary-blue"></div>
      </div>
      <div class="progress" role="progressbar" aria-label="Segment three"
           th:aria-valuenow="${trueDamagPercent}"
           th:aria-valuemin="${valueMin}" th:aria-valuemax="${valueMax}"
           th:style="'width:' + ${trueDamagPercent} + '%'"
      >
        <div class="progress-bar bg-color-neutral-light"></div>
      </div>
    </div>

    <p>
      <span th:text="'Physical ' + ${formattedPhysicalDamage}" class="color-primary-red me-2 fst-italic fs-200"></span>
      <span th:text="'Magic ' + ${formattedMagicDamage}" class="color-primary-blue me-2 fst-italic fs-200"></span>
      <span th:text="'True ' + ${formattedTrueDamage}" class="color-neutral-light fst-italic fs-200"></span>
    </p>
  </div>
</div>