<div th:fragment="overview">
    <div class="container">
        <div class="row mb-3">
            <div class="col">
                <div class="d-flex justify-content-start align-items-end gap-4">
                    <div th:replace="~{partials/detailed-match/participant-overview/stats/kda.html :: kda}"></div>
                    <div th:replace="~{partials/detailed-match/participant-overview/stats/minions.html :: minions}"></div>
                    <div th:replace="~{partials/detailed-match/participant-overview/stats/gold.html :: gold}"></div>
                    <div th:replace="~{partials/detailed-match/participant-overview/stats/vision.html :: vision}"></div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <div class="d-flex column-gap-2">
                    <div th:replace="~{partials/icons/item-icon.html :: itemLg(${participant.getItem0()})}"></div>
                    <div th:replace="~{partials/icons/item-icon.html :: itemLg(${participant.getItem1()})}"></div>
                    <div th:replace="~{partials/icons/item-icon.html :: itemLg(${participant.getItem2()})}"></div>
                    <div th:replace="~{partials/icons/item-icon.html :: itemLg(${participant.getItem3()})}"></div>
                    <div th:replace="~{partials/icons/item-icon.html :: itemLg(${participant.getItem4()})}"></div>
                    <div th:replace="~{partials/icons/item-icon.html :: itemLg(${participant.getItem5()})}"></div>
                    <div th:replace="~{partials/icons/item-icon.html :: itemLg(${participant.getItem6()})}"></div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div th:replace="~{partials/detailed-match/participant-overview/objectives.html :: objectives}"></div>
        </div>
        <div class="row mb-3">
            <div th:replace="~{partials/detailed-match/participant-build/perk-build.html :: perkBuild}"></div>
        </div>
    </div>
</div>