<div th:fragment="gold"
     class="col"
>
  <th:block th:with="totalGold=${participant.getGoldEarned()},
                    totalXp=${participant.getChampExperience()},
                    totalMinsPlayed=${participant.getTimePlayed() / 60},
                    goldPerMin=${totalGold / totalMinsPlayed},
                    xpPerMin=${totalXp / totalMinsPlayed},

                    totalGoldFormatted=${#numbers.formatDecimal(totalGold, 1, 'COMMA', 0, 'POINT')},
                    totalXpFormatted=${#numbers.formatDecimal(totalXp, 1, 'COMMA', 0, 'POINT')},
                    goldPerMinFormatted=${#numbers.formatDecimal(goldPerMin, 1, 'COMMA', 0, 'POINT')},
                    xpPerMinFormatted=${#numbers.formatDecimal(xpPerMin, 1, 'COMMA', 0, 'POINT')}"
  >
    <p class="color-neutral-light mt-1 mb-3 fw-semibold line-h-0"
       th:text="${totalGoldFormatted + ' (' + goldPerMinFormatted + ') Gold'}"
    ></p>

    <p class="color-neutral-main mb-2 fst-italic fs-200"
       th:text="${totalXpFormatted + ' (' + xpPerMinFormatted + ') XP'}"
    ></p>
  </th:block>
</div>