<div th:fragment="kda"
     class="col-auto"
>
  <th:block th:with="kills=${participant.getKills()},
                    deaths=${participant.getDeaths()},
                    assists=${participant.getAssists()},

                    kda=${1.00 * (kills + assists) / deaths},
                    kdaFormatted=${deaths > 0 ? #numbers.formatDecimal(kda, 1, 'COMMA', 2, 'POINT') : 0},

                    playerTeam=${(participant.getTeamId() / 100) - 1},
                    teamKills=${matchInfo.getMatch().getTeam()[playerTeam].getKills()},
                    killParticipation=${100.00 * (kills + assists) / teamKills},
                    formattedKillParticipation=${#numbers.formatDecimal(killParticipation, 0, 'COMMA', 1, 'POINT') + '% KP'}"
  >
    <div class="d-flex align-items-center gap-3">
      <p class="color-neutral-light fw-semibold fs-600 mb-1"
         th:text="${kills + ' / ' + deaths + ' / ' + assists}"
      ></p>

      <p class="color-neutral-main fst-italic mb-0"
         th:text="${kdaFormatted == 0} ? ${'Perfect'} : ${kdaFormatted + ' KDA'}"
      ></p>

      <p class="color-neutral-main fst-italic mb-0"
         th:text="${teamKills == 0} ? 'Oof...' : ${formattedKillParticipation}"
      ></p>
    </div>
  </th:block>
</div>