<div th:fragment="minions"
     class="col"
>
  <th:block th:with="minionKills=${participant.getTotalMinionsKilled() + participant.getNeutralMinionsKilled()},
                    matchDuration=${((matchInfo.getMatch().getGameDuration() - 60) / 60)}"
  >
    <div class="d-flex gap-2">
      <div class="small-icons cs-icon"></div>
      <p>
        <span  th:text="${minionKills}"
               class="color-neutral-light mt-1 mb-3 fw-semibold line-h-0"
        ></span>
        <span class="color-neutral-main mb-2 fst-italic fs-200"
              th:text="${minionKills == 0} ? '0 CS' : ${#numbers.formatDecimal((1.00 * minionKills / matchDuration), 1, 1) + '/min'}"
        ></span>
      </p>
    </div>
  </th:block>
</div>