<div th:fragment="vision"
     class="col"
>
  <th:block th:with="visionScore=${participant.getVisionScore()},
                    wardsPlaced=${participant.getWardsPlaced()},
                    wardsKilled=${participant.getWardsKilled()}"
  >
    <div class="d-flex gap-2">
      <div class="small-icons vision-icon"></div>
      <p>
        <span  th:text="${visionScore}"
               class="color-neutral-light mt-1 mb-3 fw-semibold line-h-0"
        ></span>
        <span class="color-neutral-main mb-2 fst-italic fs-200"
              th:text="${'+' + wardsPlaced + ' | ' + '-' + wardsKilled}"
        ></span>
      </p>
    </div>
  </th:block>
</div>