<div th:fragment="vision"
     class="col"
>
  <th:block th:with="visionScore=${participant.getVisionScore()},
                    wardsPlaced=${participant.getWardsPlaced()},
                    wardsKilled=${participant.getWardsKilled()}"
  >
    <p class="color-neutral-light mt-1 mb-3 fw-semibold line-h-0"
       th:text="${visionScore + ' VS'}"
    ></p>

    <p class="color-neutral-main mb-2 fst-italic fs-200"
       th:text="${'+' + wardsPlaced + ' | ' + '-' + wardsKilled}"
    ></p>
  </th:block>
</div>