<div th:fragment="itemBuild" class="col">
  <div th:with="itemGroups=${participantInfo.getEventItems()}"
       class="d-flex flex-wrap gap-3"
  >
    <div th:each="itemGroup : ${itemGroups}"
         class=""
    >
      <div class="d-flex gap-1 bg-color-neutral-medDark p-1 rounded">
        <th:block th:each="item : ${itemGroup}"
                  th:with="itemNum=${item.getItemNum()}"
        >
          <div th:replace="~{partials/icons/item-icon.html :: itemLg(${itemNum})}"></div>
        </th:block>
      </div>

      <p th:with="timestamp=${itemGroup[0].getEvent().getTimestamp()},
                      timeMins=${timestamp / (60 * 1000)},
                      timeSecs=${#numbers.formatDecimal((timestamp % (60 * 1000)/1000), 0, 'COMMA', 0, 'POINT')},
                      formattedTimestamp=${' ' + timeMins + 'm ' + timeSecs + 's'}"
         th:text="${formattedTimestamp}"
         class="color-neutral-main mb-1 fst-italic fs-200"
      ></p>
    </div>
  </div>
</div>