<div th:fragment="builds"
     class="container"
>
  <div class="row rounded stat-border mb-3">
    <div th:replace="~{partials/detailed-match/participant-build/perk-build.html :: perkBuild}"></div>
  </div>
  <div class="row rounded stat-border mb-3">
    <div th:replace="~{partials/detailed-match/participant-build/item-build.html :: itemBuild}"></div>
  </div>
  <div class="row rounded stat-border mb-3">
    <div th:replace="~{partials/detailed-match/participant-build/skill-build.html :: skillBuild}"></div>
  </div>
</div>
