<th:block th:fragment="perkBuild"
          th:with="perks=${participantInfo.getParticipantPerks()}"
>
  <div class="col-1 bg-color-primary-dark ms-3 p-0">
    <div class="vertical-text-container" >
      <h3 class="vertical-text color-neutral-black m-0" th:text="${'Rune Build'}"></h3>
    </div>
  </div>

  <div class="col p-2">
    <div class="d-flex justify-content-center mb-2">
      <div th:replace="~{partials/detailed-match/participant-build/perk-build.html :: rune-icon(${perks[0].getStyle()}, ${true})}"></div>
    </div>
    <th:block th:each="perk, perkIndex : ${perks}"
              th:with="perkNum=${perk.getPerkNum()}"
    >
      <div th:if="${perkIndex.index <= 3}"
           class="d-flex p-2"
           th:classappend="${perkIndex.index % 2 == 0} ? 'bg-color-neutral-medDark' : ''"
      >
        <div th:replace="~{partials/detailed-match/participant-build/perk-build.html :: rune-icon(${perkNum}, ${false})}"></div>
        <div class="ps-3">
          <th:block th:each="perkStat : ${perk.getPerkStats()}">
            <p class="color-neutral-light fs-300 mb-0" th:text="${perkStat}"></p>
          </th:block>
        </div>
      </div>
    </th:block>
  </div>

  <div class="col p-2">
    <div class="d-flex justify-content-center mb-2">
      <div th:replace="~{partials/detailed-match/participant-build/perk-build.html :: rune-icon(${perks[4].getStyle()}, ${true})}"></div>
    </div>
    <th:block th:each="perk, perkIndex : ${perks}"
              th:with="perkNum=${perk.getPerkNum()}"
    >
      <div th:if="${perkIndex.index > 3}"
           class="d-flex p-2"
           th:classappend="${perkIndex.index % 2 == 0} ? 'bg-color-neutral-medDark' : ''"
      >
        <div th:replace="~{partials/detailed-match/participant-build/perk-build.html :: rune-icon(${perkNum}, ${false})}"></div>
        <div class="ps-3">
          <th:block th:each="perkStat : ${perk.getPerkStats()}">
            <p class="color-neutral-light fs-300 mb-0" th:text="${perkStat}"></p>
          </th:block>
        </div>
      </div>
    </th:block>
  </div>
</th:block>

<img th:fragment="rune-icon(perkNum, isPrimary)"
     th:src="@{${'/img/summoner_runes/' + perkNum + '.png'}}"
     th:alt="${'player perk'}"
     class="non-selectable opacity-75"
     th:classappend="${isPrimary} ? 'perk-icon-xl' : 'perk-icon-lg'"
>