<th:block th:fragment="skillBuild"
          th:with="skills=${participantInfo.getSkillUps()}"
>
  <div class="col-1 bg-color-neutral-dark ms-3 p-0">
    <div class="vertical-text-container" >
      <h3 class="vertical-text color-primary-main m-0" th:text="${'Skill Build'}"></h3>
    </div>
  </div>

  <div class="col">
    <div class="d-flex p-3 gap-1">
      <div class="d-flex flex-column gap-1">
        <div class="item-icon non-selectable color-primary-main text-bold"><p>Q</p></div>
        <div class="item-icon non-selectable color-primary-main text-bold"><p>W</p></div>
        <div class="item-icon non-selectable color-primary-main text-bold"><p>E</p></div>
        <div class="item-icon non-selectable color-primary-main text-bold"><p>R</p></div>
      </div>

      <div th:each="skill, skillIndex : ${skills}"
           th:switch="${skill.getSkillSlot()}"
           class="d-flex flex-column gap-1"
      >
        <th:block th:case="1">
          <div class="item-icon non-selectable bg-color-primary-main">
            <p th:text="${skillIndex.index + 1}" class="color-neutral-light text-center mb-0"></p>
          </div>
          <div class="item-icon non-selectable bg-color-neutral-dark"></div>
          <div class="item-icon non-selectable bg-color-neutral-dark"></div>
          <div class="item-icon non-selectable bg-color-neutral-dark"></div>
        </th:block>

        <th:block th:case="2">
          <div class="item-icon non-selectable bg-color-neutral-dark"></div>
          <div class="item-icon non-selectable bg-color-primary-main">
            <p th:text="${skillIndex.index + 1}" class="color-neutral-light text-center mb-0"></p>
          </div>
          <div class="item-icon non-selectable bg-color-neutral-dark"></div>
          <div class="item-icon non-selectable bg-color-neutral-dark"></div>
        </th:block>

        <th:block th:case="3">
          <div class="item-icon non-selectable bg-color-neutral-dark"></div>
          <div class="item-icon non-selectable bg-color-neutral-dark"></div>
          <div class="item-icon non-selectable bg-color-primary-main">
            <p th:text="${skillIndex.index + 1}" class="color-neutral-light text-center mb-0"></p>
          </div>
          <div class="item-icon non-selectable bg-color-neutral-dark"></div>
        </th:block>

        <th:block th:case="4">
          <div class="item-icon non-selectable bg-color-neutral-dark"></div>
          <div class="item-icon non-selectable bg-color-neutral-dark"></div>
          <div class="item-icon non-selectable bg-color-neutral-dark"></div>
          <div class="item-icon non-selectable bg-color-primary-main">
            <p th:text="${skillIndex.index + 1}" class="color-neutral-light text-center mb-0"></p>
          </div>
        </th:block>
      </div>
    </div>
    <div class="d-flex gap-3 p-3">
      <div class="">
        <p th:text="${'Q Casts'}" class="color-primary-main fw-bold text-center fs-200 mb-0 ps-1"></p>
        <p th:text="${participant.getSpell1Casts}" class="color-neutral-light text-center fs-300 mb-2 ps-1"></p>
      </div>

      <div class="">
        <p th:text="${'W Casts'}" class="color-primary-main fw-bold text-center fs-200 mb-0 ps-1"></p>
        <p th:text="${participant.getSpell2Casts}" class="color-neutral-light text-center fs-300 mb-2 ps-1"></p>
      </div>

      <div class="">
        <p th:text="${'E Casts'}" class="color-primary-main fw-bold text-center fs-200 mb-0 ps-1"></p>
        <p th:text="${participant.getSpell3Casts}" class="color-neutral-light text-center fs-300 mb-2 ps-1"></p>
      </div>

      <div class="">
        <p th:text="${'R Casts'}" class="color-primary-main fw-bold text-center fs-200 mb-0 ps-1"></p>
        <p th:text="${participant.getSpell4Casts}" class="color-neutral-light text-center fs-300 mb-2 ps-1"></p>
      </div>
    </div>
  </div>
</th:block>